body { padding: 5px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
small { font: 11px Helvetica, sans-serif; color: #333; }
article { display: block; text-align: left; margin: 0 auto; }
img {  width: auto ;  max-width: 100% ;  height: auto ; }
pre { white-space: pre-wrap; word-wrap: break-word; text-align: justify; }
.red { color:red; }
.blue { color:blue; }
.yellow { color:yellow; }
.navy { color:navy; }
.orange { color:orange; }
.green { color:green; }
